.item{
    /*margin-top: 15px;*/
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.1);
    margin: 0 -3rem 4px;
    padding: 1.1rem 3rem;
}


.checkbox{
    font-size: 22px;
    /*color: lightgray;*/
    cursor: pointer;
    /*float: left;*/
    /*margin-right: 10px;*/
    /*flex-basis: 32px;*/   /*多行文字的这个icon所占地方会变小，不是32*/
    margin-right: 10px;
}
.checked{
    /*color: darkgray;*/
    font-size: 22px;
    cursor: pointer;
    /*float: left;*/
    /*margin-right: 7px;*/
    /*position: relative;*/
    /*top: -3px;*/
    /*flex-basis: 32px;*/
    margin-right: 8px;
}


.content{
    position: relative;
    display: flex;
    flex-grow: 1;
}
.detail{
    flex-grow: 1;
}
.editable{
    /*border-radius: 5px;*/
    /*padding: 0 7px;*/
    padding: 0 0.5rem;
    height: 1.5rem;
}
.complete{
    /*color: lightgray;*/
    /*text-decoration: line-through lightgray solid;*/
    opacity: .6;
}
.complete::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -.5rem;
    display: block;
    width: 0%;
    height: 1px;
    background: #FFF;
    animation:strikeitem .3s ease-out 0s forwards;
}
@keyframes strikeitem {
    to { width:calc(100% + 1rem); }
}
.cycle{
    margin-left: 10px;
}
.del{
    font-size: 22px;
    /*color: lightgray;*/
    cursor: pointer;
    margin-left: 10px;
}