<div class="main">

  <div class="title">
    <h1>Todo List</h1>
    <!--<div class="addButton" (click)="showNew=true;">-->
      <!--<span class="iconfont">&#xe61a;</span>-->
    <!--</div>-->
    <div class="top">
      <span class="date">{{ today | date:'yyyy-MM-dd' }}</span>
      <span class="quantity">还有{{ uncompleteLength() }}项任务</span>
    </div>
  </div>

  <div class="new" *ngIf="showNew">
    <input #newContent class="newContent" type="text" name="newContent" placeholder="new" [(ngModel)]="newItem.content" />
    <!--<select class="newCycle" name="newCycle" [(ngModel)]="newItem.cycle">-->
      <!--<option value="1">一次</option>-->
      <!--<option value="2">每日</option>-->
      <!--<option value="3">每周</option>-->
      <!--<option value="4">每月</option>-->
    <!--</select>-->
    <div class="customSelect">
      <div class="showSelect" (click)="showOption=!showOption">
        <span class="contentSelect">{{ cycleDefine[newItem.cycle-1] }}</span>
        <span class="iconSelect"></span>
        <input hidden name="newCycle" [(ngModel)]="newItem.cycle">
      </div>
      <ul class="optionList" tabindex="-1" *ngIf="showOption">
        <li *ngFor="let c of cycleDefine; index as i" value='{{ i+1 }}' (click)="changeSelect(i+1)">{{ c }}</li>
      </ul>
      <div class="cover" *ngIf="showOption" (click)="showOption=false"></div>
    </div>
    <button class="newButton" (click)="add()">ADD</button>
  </div>

  <div class="settingList">
    <div class="settingItem">
      <span class="settingInfo">Remove done items?</span>
      <span class="settingButton" [ngClass]="{'checked':setting.remove}" (click)="setRemove()"></span>
    </div>
    <div class="settingItem" *ngIf="!setting.remove">
      <span class="settingInfo">Move done items at the end?</span>
      <span class="settingButton" [ngClass]="{'checked':setting.move}" (click)="setMove()"></span>
    </div>
  </div>

  <div class="list">
    <todo-item *ngFor="let item of list;index as i" [item]="item" [i]="i" (delEvent)="del($event)" (completeEvent)="changeComplete($event)"></todo-item>
  </div>

</div>